<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Schedule</title>

    <link rel="icon" type="image/png" href="ambo.png"/>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.4/css/sb-admin-2.min.css" integrity="sha512-Mk4n0eeNdGiUHlWvZRybiowkcu+Fo2t4XwsJyyDghASMeFGH6yUXcdDI3CKq12an5J8fq4EFzRVRdbjerO3RmQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!--Summernote-->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link href="/vendor/summernote/summernoteemoji/tam-emoji/css/emoji.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/additionalsidebar.css">
    <!-- Selectpicker -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("partials/sidebar") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("partials/topbar") %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-2">
                        <h3>
                        <span><a class="h5" href="schedule"><i class="fas fa-arrow-left mr-2"></i></a></span>
                        <span>New Schedule</span>
                        </h3>
                    </div>

                <!-- Form-->
                    <div class="card shadow mb-4">
                    <div class="card-body">
                        <!-- Judul Pesan-->
                        <div class="form-group">
                            <label for="judulpesan" class="font-weight-bold">Judul Pesan</label>
                                <input class="form-control col-sm-5" name="judulpesan" id="judulpesan" placeholder="Input Title Here">
                            <small class="form-text text-muted ml-1">Contoh: Pesan pengingat absen pagi</small>
                        </div>

                        <!-- Tujuan Broadcast-->
                        <div class="form-group" style="display: flex; flex-direction: column;">
                            <label for="number" class="font-weight-bold">Tujuan</label>
                            <select class="form-control col-sm-3 selectpicker" id="number" name="number">
                                <optgroup label="Group" id="group-option">
                                   
                                </optgroup>
                                <optgroup label="Individual" id="individual-option">
                                    
                                </optgroup>
                            </select>
                        </div>

                        <!--Isi Broadcast-->
                        <div class="form-group">
                            <label for="summernote" class="font-weight-bold">Isi Pesan</label>
                            <textarea id="summernote" name="message"></textarea>
                        </div>

                       
                        <!-- Recurring Schedule-->
                        <div class="form-group">
                            <label for="recurringschedule"class="font-weight-bold">Recurring Schedule</label>
                            <select class="form-control col-sm-3" id="recurringschedule" name="recurringschedule" onchange="yesnoCheck(this);">
                                <option value ="no-schedule" selected>--Choose Recurring Schedule--</option>
                                <option value ="non-recurring">Non Recurring</option>
                                <option value ="every workday">Every Workday (Mon-Fri)</option>
                                <option value ="every day">Every Day (Mon-Sun)</option>
                                <!--<option>Every Week</option>
                                <option>Every Month</option>
                                <option>Custom</option>-->
                            </select>
                        </div>

                        <!--Recurring Date-->
                        <div class="form-group mt-3" id="date-input" style="display:none;">
                            <label for="recurringdate" class=" font-weight-bold">Date</label>
                            <div class="input-group ">
                                <input type="date" class="form-control col-sm-2" id="recurringdate" name="recurringdate" aria-describedby="timehelp" placeholder="Tanggal">
                            </div>
                            <small class="form-text text-muted ml-1">Pesan akan di kirim pada tanggal tersebut</small>
                        </div>

                        <!--Recurring Time-->
                        <div class="form-group mt-3">
                            <label for="recurringtime" class=" font-weight-bold">Time</label>
                            <input type="time" class="form-control col-sm-2" id="recurringtime" name="recurringtime" aria-describedby="timehelp" placeholder="Jam/Menit">
                            <small class="form-text text-muted ml-1">Pesan akan di kirim setiap jam tersebut</small>
                        </div>

                        <!--Cron expression (hidden input)-->
                        <div>
                            <input type="hidden" name="cronexpression" value="" id="cronexpression">
                        </div>

                        <!--Submit & Clear-->
                        <div class="form-group mt-5 text-center">
                            <button name="submitrbroadcast" class="btn btn-primary mt-5" onclick="addSchedule()">Submit Broadcast</button>
                            <button class="btn btn-outline-secondary mt-5" onclick="reset()">Reset</button>
                        </div>

                    </div>
                    <!-- card body -->

            </div>
            <!-- Card Shadow / End of Form -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("partials/footer") %>
            <!-- End of Footer -->
            <%- include("partials/contentfooter") %>
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <%- include("partials/scrolltotop") %>

    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Socket io-->
    <script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>


    <!--additional custom sidebar-->
    <script src="/js/additionalsidebar.js"></script>

    <!--sweetalert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--Summernote Script-->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <!-- Selectpicker -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- page level script-->
    <script src="/js/pages/newSchedulePageScript.js"></script>

  </body>

  </html>