<%- include('partials/header') %>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("partials/sidebar") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("partials/topbar") %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 ">Schedule Message</h1>
                        <button class="btn btn-primary float-right" onclick="window.location.href='new-schedule'">Add <i class='fas fa-plus'></i> </button>
                    </div>
                
                    <!-- Tabel Active Broadcast -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                        <!-- <div><button onclick="restartCronJobs()" class="btn btn-primary mb-3 float-right">Update</button></div> -->
                            <div class="table-responsive">
                                <table class="table table-hover" id="rbroadcastTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                        <th>No</th>
                                        <th>Judul Broadcast</th>
                                        <th>Pesan</th>
                                        <th>Tujuan</th>
                                        <th>Jadwal</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                        </tr>
                                    <tbody class="text-gray-900" id="rbroadcast-table-body">
                                        <tr>
                                            <td>1</td>
                                            <td>Judul Broadcast</td>
                                            <td>".$row['isirbroadcast']."</td>
                                            <td>".$row2['groupName']."</td>
                                            <td class='cron-expression'>".$row['cron_expression']."</td>
                                            <td><p class='text-success'>Active</p></td>
                                            <td>
                                                <span> <a class='button btn-sm btn-success' >Activate</a></span>
                                                <span> <a class='button btn-sm btn-danger'><i class='fas fa-trash'></i></a></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
               
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("partials/footer") %>
            <!-- End of Footer -->
            <%- include("partials/contentfooter") %>
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <%- include("partials/scrolltotop") %>

    <!-- Include Modal-->
    <%- include("partials/modal") %>

    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Socket io-->
    <script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>


    <!--additional custom sidebar-->
    <script src="js/additionalsidebar.js"></script>

    <!--sweetalert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   

</body>

</html>