<!-- Modal -->
<div class="modal fade" id="addVariableModal" tabindex="-1" role="dialog" aria-labelledby="addVariableModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Variable</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="addVariableInput">Variable Name</label>
          <input class="form-control" type="text" name="addVariableInput" id="addVariableInput">
        </div>
        <div class="form-group">
          <label for="yearVariableInput"class="font-weight-bold">Year</label>
          <select class="form-control col-sm-3" id="yearVariableInput" name="yearVariableInput">
            <% 
              var currentYear = new Date().getFullYear();

              function isSelected(y){
                return y === currentYear ? "selected" : "";
              }
            %>
            <option value =2024 <%= isSelected(2024) %> >2024</option>
            <option value =2025 <%= isSelected(2025) %> >2025</option>
            <option value =2026 <%= isSelected(2026) %> >2026</option>
            <option value =2027 <%= isSelected(2027) %> >2027</option>
            <option value =2028 <%= isSelected(2028) %> >2028</option>
            <option value =2029 <%= isSelected(2029) %> >2029</option>
            <option value =2030 <%= isSelected(2030) %> >2030</option>
            <option value =2031 <%= isSelected(2031) %> >2031</option>
            <option value =2032 <%= isSelected(2032) %> >2032</option>
            <option value =2033 <%= isSelected(2033) %> >2033</option>
          </select>
        </div>
        <!-- <div class="form-group">
          <label for="yearVariableInput">Year</label>
          <input class="form-control" type="text" name="yearVariableInput" id="yearVariableInput">
        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="addVariableButton" onclick="addVariable()">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="resetVariableButton">Cancel</button>
      </div>
    </div>
  </div>
</div>
